<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des examens</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .navbar-nav .nav-link, .navbar-brand, .dropdown-item {
            font-size: 16px;
        }
        .table thead th {
            font-weight: normal;
        }
        h1 {
            margin-top: 20px;
            text-align: center;
        }
        .label-button-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .label-button-container form {
            margin: 0 5px;
        }

        .label-button-container .text-container {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <div class="container">
        <a class="navbar-brand" href="/">
            Page d'accueil
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion des Examens
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/api/examens/addExamen">Ajouter un examen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/api/examens/allExams">Lister tous les examens</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/general/about">
                        A propos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="width: 80%; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px; background-color: #f9f9f9; margin-top: 60px;">
    <div class="text-container" style="margin: 20px; text-align: center;">
        <span class="success-message" th:if="${session.msg != null}" th:text="${session.msg}" style="color: green; font-weight: bold;"></span>
    </div>

    <div class="text-container" style="margin-bottom: 20px; text-align: center;">
        <p>Ici vous pouvez le rapport de chaque examen et d'attacher le procès-verbal (PV) ainsi que l'énoncé de l'examen.</p>
    </div>

    <!-- Button for uploading procès-verbal (PV) -->
    <div class="label-button-container" style="margin-bottom: 10px; text-align: center;">
        <form th:object="${examen}" id="formPV" th:action="@{/api/file/procesVerbaux/{examenId}(examenId=${examen.idExam})}" method="post" enctype="multipart/form-data" style="width: 100%;">
            <label for="filePV">Saisir le procès-verbal (PV)</label>
            <input type="file" id="filePV" name="filePV" style="display: none;" onchange="document.getElementById('formPV').submit();">
        </form>
        <div class="button-container" style="display: flex; justify-content: center; margin-top: 5px;">
            <button type="button" onclick="document.getElementById('filePV').click();" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; margin-right: 10px;">Procès-verbal (PV)</button>
            <form th:action="@{/api/file/viewPV/{examenId}(examenId=${examen.idExam})}" method="get" style="display: inline-block;">
                <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer;">Voir PV</button>
            </form>
        </div>


    </div>

    <!-- Button for uploading examen's statement -->
    <div class="label-button-container" style="margin-bottom: 10px; text-align: center;">
        <form th:object="${examen}" id="formEnonce" th:action="@{/api/file/enonces/{examenId}(examenId=${examen.idExam})}" method="post" enctype="multipart/form-data" style="width: 100%;">
            <label for="fileEnonce">Saisir l'énoncé de l'examen</label>
            <input type="file" id="fileEnonce" name="fileEnonce" style="display: none;" onchange="document.getElementById('formEnonce').submit();">
        </form>
        <div class="button-container" style="display: flex; justify-content: center; margin-top: 5px;">
            <button type="button" onclick="document.getElementById('fileEnonce').click();" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; margin-right: 10px;">énoncé de l'examen</button>
            <form th:action="@{/api/file/viewEnonce/{examenId}(examenId=${examen.idExam})}" method="get" style="display: inline-block;">
                <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer;">Voir énoncé</button>
            </form>
        </div>
    </div>



    <!-- Button for uploading examen's statement -->
    <div class="label-button-container" style="margin-bottom: 10px; text-align: center;">
        <form th:object="${examen}" id="formRapport" th:action="@{/api/file/rapports/{examenId}(examenId=${examen.idExam})}" method="post" enctype="multipart/form-data" style="width: 100%;">
            <label for="fileRapport">Saisir le rapport de l'examen</label>
            <input type="file" id="fileRapport" name="fileRapport" style="display: none;" onchange="document.getElementById('formRapport').submit();">
        </form>
        <div class="button-container" style="display: flex; justify-content: center; margin-top: 5px;">
            <button type="button" onclick="document.getElementById('fileRapport').click();" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; margin-right: 10px;">rapport de l'examen</button>
            <form th:action="@{/api/file/viewRapport/{examenId}(examenId=${examen.idExam})}" method="get" style="display: inline-block;">
                <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer;">Voir rapport</button>
            </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
